<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- API will need BotsRead, BotsWrite, AccountsRead permissions -->
		<add key="3c_api_key" value="1234567" />
		<add key="3c_api_secret" value="1234567" />

		<!-- Binance.us is binance_us -->
		<add key="3c_market" value="binance_us" />

		<!-- Look at one of your account on 3commas.io, you'll find the account id in the 
			 url. For example, https://3commas.io/accounts/1234567 - 1234567 is the account id -->
		<add key="3c_accountId" value="1234567" />

		<!-- Look at one of your bots on 3commas.io, you'll find the bot id in the 
			 url. For example, https://3commas.io/bots/1234567 - 1234567 is the bot id -->
		<add key="3c_botId" value="1234567" />

		<!-- Change this USDT if you prefer (or whatever quote currency you use) -->
		<add key="baseType" value="USD" />

		<add key="usePerp" value="false"/>
	</appSettings>
</configuration>