<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- API will need BotsRead, BotsWrite, AccountsRead permissions -->
		<add key="3c_api_key" value="" />
		<add key="3c_api_secret" value="" />
		
		<!-- Binance.us is binance_us -->
		<add key="3c_market" value="" />

		<!-- Look at one of your account on 3commas.io, you'll find the account id in the 
			 url. For example, https://3commas.io/accounts/1234567 - 1234567 is the account id -->
		<add key="3c_accountId" value="" />
		
		<!-- Look at one of your bots on 3commas.io, you'll find the bot id in the 
			 url. For example, https://3commas.io/bots/1234567 - 1234567 is the bot id -->
		<add key="3c_botId" value="" />
		
		<!-- Change this USD if you prefer (or whatever quote currency you use) -->
		<add key="quote" value="USDT" />
	</appSettings>
</configuration>